<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename='js/test.js') }}"></script> 
    <title>News</title>
  </head>
  <body>
    <div style="border : solid 2px; background-color : black; color : white; position : fixed; width : 100%;">
        <center>
            <h2>Daily Updates</h2>
        </center>
    </div>

    <div class="container">
    <br>
    <br>
        {% for i in case.articles %}
            <div class="container" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                <br>
                <h4><strong style="color: red;">Title : </strong>{{i.title}}</h4>
                <h4><strong style="color: red;">Description : </strong>{{i.description}}</h4>
                <br>
                <img src="{{i.urlToImage}}" alt="News" width="100%" height="400">
                <hr style="color: rgb(255, 0, 0);">
                <hr style="color: rgb(255, 0, 0);">
            </div>
        {% endfor %}
    <br>
    </div>

    <div style="border : solid 2px; background-color : black; color : white; width : 100%;">
        <center>
            <h4>Copyright &copy; 2022 News App</h4>
        </center>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>